[submodule "exe/luajit-rocks"]
	path = exe/luajit-rocks
	url = https://github.com/torch/luajit-rocks.git
[submodule "pkg/paths"]
	path = pkg/paths
	url = https://github.com/torch/paths.git
[submodule "pkg/cwrap"]
	path = pkg/cwrap
	url = https://github.com/torch/cwrap.git
[submodule "pkg/torch"]
	path = pkg/torch
	url = https://github.com/torch/torch7.git
[submodule "pkg/xlua"]
	path = pkg/xlua
	url = https://github.com/torch/xlua.git
[submodule "pkg/sys"]
	path = pkg/sys
	url = https://github.com/torch/sys.git
[submodule "extra/threads"]
	path = extra/threads
	url = https://github.com/torch/threads-ffi.git
[submodule "extra/argcheck"]
	path = extra/argcheck
	url = https://github.com/torch/argcheck.git
[submodule "extra/nnx"]
	path = extra/nnx
	url = https://github.com/clementfarabet/lua---nnx.git
[submodule "extra/nn"]
	path = extra/nn
	url = https://github.com/seemk/nn.git
[submodule "exe/env"]
	path = exe/env
	url = https://github.com/torch/env.git
[submodule "extra/luafilesystem"]
	path = extra/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git